<template>
  <div class="favorite">
    <div class="container">
      <div class="fav-title">
        <h1>Избранное</h1>
      </div>
    </div>
      <SwitchBtn/>
    <div class="container">
    <div class="photography" id="fav">
        <Gallery v-for="photo in favData" :photo='photo' :key='photo.id' />
      </div>
    </div>
  </div>
</template>

<script>
  import Gallery from "@/components/Gallery.vue"
  import SwitchBtn from "@/components/SwitchBtn.vue"
  import Axios from 'axios'
  export default {
    data(){
      return{
        favImages:'',
        favData:[]
      }
    },
    components:{
      Gallery,
      SwitchBtn
    },
    methods: {
      favoriteImages() {
        let favoriteImg = JSON.parse(localStorage.getItem('favorite'))
        let favPhoto = document.getElementById('fav')
        favoriteImg.forEach(fav => {
          Axios({
            method: 'get',
            url: `https://api.unsplash.com/photos/` + fav,
            headers: {
              'Accept-Version': 'v1',
              Authorization: 'Client-ID DgyXHABTFsWExCj6qdkF_7z6lGzTyyBJnl7u6wsLilo',
            }
          }).then(res => {
            this.favData.push(res.data)
          })
        });
      }
    },
    mounted() {

      this.favoriteImages()
    }
  }
</script>

<style lang='scss' scoped>
.favorite{
  margin-top: 80px;
  .fav-title{
    margin-top: 190px;
    h1{
      font-size: 72px;
      line-height: 86px;
      color: #000000;
      text-align: center;
    }
  }
}
</style>