<template>
    <div>
        <div class="photo-stock ">
            <div class="container">
                <div class="search">
                    <div class="search-title history-title">
                        <h2>Ваши запросы</h2>
                    </div>
                </div>
                <div class="history-requests">
                    <ul>
                        <li v-for="list in historys" :key='list.id'>{{list.title}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="history-photo">
            <div class="container">
            <div id="photos" class="photography">
            <Gallery v-for="photo in historyGallery" :photo='photo' :key='photo.id' />
        </div>
        </div>
        </div>
    </div>
</template>

<script>
import Gallery from "@/components/Gallery.vue"
import Axios from 'axios'
export default {
    data(){
        return{
            historyList:[],
            historys:[],
            historyGallery:[]
        }
    },
     components: {
      Gallery,
    },
    mounted(){
        let history = JSON.parse(localStorage.getItem('tagsHistory'))
        this.historyList = history
        if(this.historyList == []){
            return false
        }
        else{
            this.historyList.forEach((tag,index) => {
                let obj = {
                    id:index,
                    title:tag
                }
                this.historys.push(obj)
                let userId = 'DgyXHABTFsWExCj6qdkF_7z6lGzTyyBJnl7u6wsLilo'
                let url = 'https://api.unsplash.com/search/photos?query=' + tag + '&client_id=' + userId
                Axios
                .get(url)
                .then(response => {
                    this.historyGallery = response.data.results
                })
                .catch(error => console.log('error'));
        });
        }
    }
}
</script>

<style lang="scss" scoped>
.history-photo{
    margin-top: 40px;
}
.history-title{
    margin-top: 30px;
    h2{
        font-size: 36px;
        line-height: 43px;
        color: #FFFFFF;
        text-align: center;
    }
}
.history-requests{
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        margin-top: 40px;
        li{
            font-size: 18px;
            line-height: 40px;
            color: #FFFFFF;
            list-style-type: none;
        }
    }
}
</style>