<template>
  <div>
    <div class="photo-stock" >
      <div class="container">
        <div class="search">
          <div class="search-title">
            <h1>Поиск</h1>
            <div class="line"></div>
          </div>
        </div>
        <div class="search-list">
          <ul>
            <li v-for="list in searchList" :key='list.id' @click='searchTabs(list.title)'>{{list.title}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <SwitchBtn />
      <div id="photos" class="photography">
        <Gallery v-for="photo in gallery" :photo='photo' :key='photo.id' />
      </div>
    </div>
    <div class="scrolltop">
      <a href="#">
        <img src="@/assets/button_top.png" alt="">
      </a>
    </div>
  </div>
</template>

<script>
  import Gallery from "@/components/Gallery.vue"
  import SwitchBtn from "@/components/SwitchBtn.vue"
  import Axios from 'axios'
  export default {
    data() {
      return {
        searchList: [{
            id: 1,
            title: 'Wallpapers'
          },
          {
            id: 2,
            title: 'Textures & Patterns'
          },
          {
            id: 3,
            title: 'Nature'
          },
          {
            id: 4,
            title: 'Current Events'
          },
          {
            id: 5,
            title: 'Architecture'
          },
          {
            id: 6,
            title: 'Business & Work'
          },
          {
            id: 7,
            title: 'Film'
          },
          {
            id: 8,
            title: 'Animals'
          },
          {
            id: 9,
            title: 'Travel'
          },
          {
            id: 10,
            title: 'Fashion'
          },
          {
            id: 11,
            title: 'Food & Drink'
          },
          {
            id: 12,
            title: 'Spirituality'
          },
          {
            id: 13,
            title: 'Experimental'
          },
          {
            id: 14,
            title: 'People'
          },
          {
            id: 15,
            title: 'Health'
          },
          {
            id: 16,
            title: 'Arts & Culture'
          }
        ],
        gallery: []
      }
    },
    components: {
      Gallery,
      SwitchBtn
    },
    methods: {
      searchTabs(t) {
        let userId = 'DgyXHABTFsWExCj6qdkF_7z6lGzTyyBJnl7u6wsLilo'
        let url = 'https://api.unsplash.com/search/photos?query=' + t + '&client_id=' + userId
        Axios
          .get(url)
          .then(response => {
            this.gallery = response.data.results
            console.log(response);
          })
          .catch(error => console.log('error'));
        let photo_tags = t
        let tagsHistory = JSON.parse(localStorage.getItem('tagsHistory')) == null ? [] : JSON.parse(localStorage
          .getItem('tagsHistory'))
        if (tagsHistory.find(tag => tag == photo_tags)) {
          tagsHistory.forEach((item, index) => {
            if (item == photo_tags) {
              return false
            }
          })

        } else {
          JSON.stringify(tagsHistory.push(t))
        }
        localStorage.setItem('tagsHistory', JSON.stringify(tagsHistory));

      },
    },
    mounted() {
      let userId = 'BZLY_lLo4dzfQYdP6NVG8aPU5SnJiy8jW5fZVrLDXGY&per_page=50'
      let url =
        'https://api.unsplash.com/photos/?client_id=' + userId
      Axios
        .get(url)
        .then(response => {
          this.gallery = response.data
        })
        .catch(error => console.log('error'));
    }
  }
</script>
<style scoped>
  .photography img {
    width: 100px;
    height: 100px;
  }
  .scrolltop{
    position: fixed;
    right: 120px;
    bottom: 110px;
  }

</style>