<template>
    <div>
        <div class="photography-wrapper">
            <div class="photo-background">
                <img :src="photoBg">
            </div>
            <div class="photography-inner">
                <div class="container">
                    <div class="photography-info">
                        <div class="row">
                            <div class="col-xl-8 col-6">
                                <div class="photography-left">
                                    <div class="user-image">
                                        <img :src="userImage" alt="">
                                    </div>
                                    <div class="user-info">
                                        <h1>{{username}}</h1>
                                        <a :href="userHref">@{{userLink}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-6">
                                <div class="photography-right">
                                    <img src="@/assets/favorites.png" alt="">
                                    <a :href="photoInfo.links.download"> <img src="@/assets/download.png" alt="">
                                        <span>Downloand</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="photographyDiv">
                        <img :src="photoBg">
                        <img src="@/assets/resize.png" class="max-size" alt="">
                    </div>
                    <div class="photography-tags">
                        <h1>Похожии теги</h1>
                        <ul>
                            <li v-for="tag in photoInfo.tags" :key='tag.title'>
                                <a href="">{{tag.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="similar-photos">
            <div class="container">
                <div class="similar-photos-title">
                    <h1>Похожие фотографии</h1>
                    <a href="">show more</a>
                </div>
                <div class="photography">
                    <Gallery v-for="photo in simGallery" :photo='photo' :key='photo.id' />
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    import Gallery from "@/components/Gallery.vue"
    import Axios from 'axios';

    export default {
        data() {
            return {
                photoInfo: '',
                photoBg: '',
                userImage: '',
                username: '',
                userLink: '',
                userHref: '',
                simGallery: '',
                photoTags: '',
                photoDownload: ''
            }
        },
        components: {
            Gallery
        },
        props: ['id'],
        mounted() {
            Axios({
                method: 'get',
                url: `https://api.unsplash.com/photos/${this.$route.params.id}`,
                headers: {
                    'Accept-Version': 'v1',
                    Authorization: 'Client-ID DgyXHABTFsWExCj6qdkF_7z6lGzTyyBJnl7u6wsLilo',
                }
            }).then(res => {
                this.photoInfo = res.data
                this.photoBg = res.data.urls.raw
                this.userImage = res.data.user.profile_image.medium;
                this.username = res.data.user.name
                this.userLink = res.data.user.instagram_username
                this.userHref = res.data.user.links.self
                this.photoTags = res.data.tags
                this.photoDownload = res.data.links.download
                this.photoTags.forEach(simPhoto => {
                    let url = 'https://api.unsplash.com/search/photos?query=' + simPhoto.title +
                        '&client_id=DgyXHABTFsWExCj6qdkF_7z6lGzTyyBJnl7u6wsLilo'
                    Axios
                        .get(url)
                        .then(response => {
                            this.simGallery = response.data.results
                        })
                        .catch(error => console.log('error'));
                })
            })

        }
    }
</script>

<style lang="scss" scoped>
    .max-size{
        &:hover{
            transform: scale(1.4);
            transition: .3s;
        }
    }
    .photography-wrapper {
        margin-top: 80px;

        .photo-background {
            position: relative;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: rgba(40, 36, 22, 0.01);
                backdrop-filter: blur(8px);
                position: absolute;
                top: 0;
            }

            img {
                height: 1070px;
                width: 100%;
                object-fit: cover;
            }
        }

        .photographyDiv {
            position: relative;

            img {
                width: 100%;
                height: 744px;
                object-fit: cover;
                box-shadow: 0px 4px 100px #000000;
                border-radius: 8px;
            }

            .max-size {
                position: absolute;
                bottom: 67px;
                right: 112px;
                width: 25px;
                height: 25px;
            }
        }

        .photography-inner {
            position: absolute;
            top: 126px;
            left: 12%;

            .photography-left {
                display: flex;
                margin-bottom: 40px;

                .user-image {
                    img {
                        width: 54px;
                        height: 54px;
                        border: 1px solid #FFFFFF;
                        border-radius: 8px;
                        margin-right: 10px;
                    }
                }

                .user-info {
                    h1 {
                        font-size: 30px;
                        line-height: 24px;
                        color: #F2F2F2;
                        margin-bottom: 0;
                    }

                    a {
                        font-weight: 100;
                        font-size: 20px;
                        line-height: 36px;
                        color: #F2F2F2;
                        margin-bottom: 0;
                    }
                }
            }

            .photography-right {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                a {
                    width: 206px;
                    height: 50px;
                    background: #219653;
                    border: 1px solid #219653;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    font-weight: 100;
                    font-size: 20px;
                    line-height: 24px;
                    color: #F2F2F2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 20px;

                    img {
                        margin-right: 10px;
                    }
                }
            }

            .photography-tags {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 30px;

                h1 {
                    font-size: 24px;
                    line-height: 29px;
                    color: #FFFFFF;
                    margin-bottom: 19px;
                }

                ul {
                    display: flex;
                    padding-left: 0;
                    flex-wrap: wrap;
                    justify-content: center;
                    height: 80px;

                    li {
                        list-style-type: none;
                        background: #FFFFFF;
                        border-radius: 8px;
                        margin-right: 20px;
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;

                        a {
                            font-size: 18px;
                            line-height: 21px;
                            color: #828282;
                            padding: 5px 11px;
                            display: flex;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }

    .similar-photos {
        margin: 80px 0 140px 0;

        .similar-photos-title {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            margin-bottom: 48px;

            h1 {
                font-size: 36px;
                line-height: 43px;
                color: #000000;
            }

            a {
                font-size: 14px;
                line-height: 17px;
                text-decoration-line: underline;
                color: #828282;
            }
        }
    }

    @media screen and (max-width: 576px) {
        .photography-wrapper {

            .photo-background {
                display: none;
            }

            .photography-inner {
                position: relative;
                top: 40px;
                left: 0;

                .photography-tags {
                    align-items: flex-start;

                    h1 {
                        font-size: 18px;
                        line-height: 21px;
                        color: #000000;
                    }

                    ul {
                        height: auto;
                        justify-content: left;
                    }
                }

                .photography-left {
                    .user-info {
                        h1 {
                            font-size: 18px;
                            line-height: 21px;
                            color: #000000;
                        }
                    }
                }

                .photography-right {
                    a {
                        width: 50px;
                        margin-left: 15px;

                        img {
                            margin-right: 0;
                        }

                        span {
                            display: none;
                        }
                    }
                }
            }

            .photographyDiv {
                img {
                    box-shadow: none;
                    height: 220px;
                }

                .max-size {
                    right: 17px;
                    bottom: 20px;
                }
            }
        }

        .similar-photos {

            .similar-photos-title {
                margin-bottom: 26px;
                h1 {
                    font-size: 18px;
                    line-height: 21px;
                    color: #000000;
                }
                a{
                    display: none;
                }
            }
        }
    }
</style>