<template>
    <div>
        <div class="image-wrapper">
            <img class="photography" :src="photo.urls.small">
            <div class="img-hover-div">
                <img :src="photo.user.profile_image.medium">
                <h1>{{photo.user.name}}</h1>
                <a :href="photo.user.links.self">@{{photo.user.instagram_username}}</a>
                <div class="icons-div">
                    <button class="fav-btn icons-btn" @click="addFavorite(photo.id)"><img src="../assets/favorite.png"
                            alt=""></button>
                    <router-link :to="{name: 'Photo', params: {id:photo.id}}" class="maximize">
                        <img src="../assets/maximize.png" alt="">
                    </router-link>
                    <a target="_blank" :href="photo.links.download" class="download"><img src="../assets/download.png"
                            alt=""></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Axios from 'axios'
    export default {
        data() {
            return {
                photoMax: [],
                favoriteObject: []
            }
        },
        props: ['photo'],
        methods: {
            addFavorite(id) {
                let photo_id = id
                let favInfo = JSON.parse(localStorage.getItem('favorite')) == null ? [] : JSON.parse(localStorage
                    .getItem('favorite'))
                if (favInfo.find(id => id == photo_id)) {
                    favInfo.forEach((item , index) => {
                        if (item == photo_id) {
                            favInfo.splice(index, 1)
                        }
                    })
                   
                } else {
                    JSON.stringify(favInfo.push(id))
                }
                localStorage.setItem('favorite', JSON.stringify(favInfo));

            },
        },
        mounted() {
            this.photoMax = this.photo
        }
    }
</script>

<style lang="scss" scoped>
    .icons-div {
        margin-top: 20px;
    }

    .maximize {
        img {
            border: none;
            transition: 2s;
        }

        &:hover {
            img {
                transform: scale(1.4);
            }
        }
    }

    .icons-btn {
        background: transparent;
        border: none;

        img {
            border: none;
        }
    }

    .download {
        img {
            border: none;
        }
    }
</style>