<template>
    <div>
        <div class="header-top" @scroll="headerSearch()">
            <div class="container">
                <div class="header">
                    <div class="row">
                        <div class="col-xl-7 col-6">
                            <div class="logotype">
                                <router-link to="/"><img src="@/assets/logo.png" alt=""><p>ImageStock</p></router-link>
                            </div>
                        </div>
                        <div class="col-xl-5 col-6">
                            <div class="header-right">
                                <router-link to="/" v-if="search"> <img src="@/assets/search.svg" alt=""> <p>Поиск</p>
                                </router-link>
                                <router-link to="/favorite"> <img src="@/assets/favorite.png" alt=""> <p>Избранное</p>
                                </router-link>
                                <router-link to="/history"> <img src="@/assets/history.png" alt=""> <p>История поиска</p>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: false
            }
        },
        created() {
            window.addEventListener('scroll', this.headerSearch);
        },
        destroyed() {
            window.removeEventListener('scroll', this.headerSearch);
        },
        methods: {
            headerSearch(event) {
                if (window.scrollY > 100) {
                    this.search = true;
                } else if (window.scrollY < 100) {
                    this.search = false;
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    body {
        position: relative;
    }

    .header-top {
        width: 100%;
        height: 80px;
        position: fixed;
        top: 0;
        background: #000;
        z-index: 999;

        .header {
            height: 80px;

            .logotype {
                height: 80px;
                display: flex;
                align-items: center;
                p{
                    margin-bottom: 0;
                }
            }

            .header-right {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a{
                    margin-left: 20px;
                    &::before{
                        content: '';
                        width: 0%;
                    }
                    p{
                        margin-bottom: 0;
                    }
                    &:hover {
                    position: relative;
                        &::before {
                            content: '';
                            background: #fff;
                            position: absolute;
                            bottom: -5px;
                            right: 0;
                            width: 20%;
                            height: 3px;
                            transition: .3s ;
                        }
                    }
                }
            }
        }
    }
</style>