<template>
    <div>
        <li @click='searchTabs(list.title)'>{{list.title}}</li>
    </div>
</template>

<script>
export default {
    methods:{
        searchTabs(id){
            this.$emit('search', this.id)
            console.log(id)
        }
    },
    props:['list']
}
</script>