<template>
    <div>
        <div class="photos-column">
            <button @click='mobCollection($event.target)' class='mob-collection' id="mob-collection"></button>
            <button class="desktop-btn" @click="desktopCollection($event.target)" id="desktop-collection"></button>
        </div>
    </div>
</template>



<script>
export default {
    methods:{
         desktopCollection(bg){
        let gallery = document.querySelectorAll('.photography')
        let mobile = document.getElementById('mob-collection')
        mobile.classList.remove('mob-collection2')
        bg.classList.add('desktop-btn-2')
        gallery.forEach( img => {
          img.style.width = '100%'
          img.style.columnCount = 3;
        })
      },
       mobCollection(bg){
        let gallery = document.querySelectorAll('.photography')
        let desktop = document.getElementById('desktop-collection')
        desktop.classList.remove('desktop-btn-2')
        bg.classList.add('mob-collection2')
        gallery.forEach( g => {
          g.style.width = 'fit-content'
          g.style.columnCount = 1;
          g.style.margin = '0 auto';
        })
      },
    }
}
</script>