<template>
  <div id="app">
    <Header />
    <router-view />
  </div>
</template>


<script>
  import Header from './components/Header.vue'
  export default {
    components: {
      Header
    }
  }
</script>
<style lang="scss">
  button:focus {
    outline: none;
  }

  .photography {
    column-count: 3;
  }

  @font-face {
    font-family: 'SF UI Display';
    src: url('./assets/font/SFUIDisplay-Regular.ttf');
  }

  body {
    font-family: 'SF UI Display';
  }

  a {
    &:hover {
      text-decoration: none !important;
    }
  }

  .search-title {
    h1 {
      font-size: 72px;
      line-height: 86px;
      color: #FFFFFF;
      text-align: center;
      margin-bottom: 14px;
    }

    .line {
      width: 100%;
      height: 1px;
      background: #ccc;
      position: relative;
      margin-bottom: 30px;

      &::before {
        content: '';
        width: 50%;
        height: 2px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 14%, rgba(0, 0, 0, 0) 163%, rgba(0, 0, 0, 0.00043767507002800965) 70%);
        position: absolute;
        left: 0;
      }

      &::after {
        content: '';
        width: 50%;
        height: 2px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.000437675) -78%, rgba(0, 0, 0, 0) -46%, black 85%);
        position: absolute;
        right: 0;
      }
    }
  }

  .image-wrapper img {

    border-radius: 8px;
  }


  .photography {
    width: 100%;
    height: 100%;
  }

  .image-wrapper:hover .photography {
    background: rgba(40, 36, 22, 0.5);
    -webkit-filter: blur(3px);
    filter: blur(3px);
  }

  .desktop-btn {
    background-image: url(./assets/photo-column1.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .desktop-btn-2 {
    background-image: url(./assets/photo-column.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .photos-column {
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mob-collection {
    margin-right: 5px;
    background-image: url(./assets/photo-column2.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .mob-collection2 {
    margin-right: 5px;
    background-image: url(./assets/photo-column-mob.png);
    width: 23px;
    height: 23px;
    background-size: contain;
    background-color: transparent;
    border: none;
  }

  .image-wrapper {
    position: relative;
    margin-bottom: 20px;
  }

  .image-wrapper:hover .img-hover-div {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  .img-hover-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s;
    opacity: 0;
  }

  .img-hover-div img {
    -webkit-filter: blur(0px) !important;
    filter: blur(0px) !important;
  }

  .img-hover-div h1 {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 36px;
    color: #FFFFFF;
  }

  .img-hover-div a {
    font-size: 20px;
    line-height: 36px;
    color: #FFFFFF;
  }

  .img-hover-div a:hover {
    color: #fff;
  }

  .img-hover-div img {
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 14px;
  }


  .search-list {
    ::-webkit-scrollbar {
      width: 1px;
      height: 1px;
    }

    ::-webkit-scrollbar-button {
      background-color: #666;
    }

    ::-webkit-scrollbar-track {
      background-color: #999;
    }

    ::-webkit-scrollbar-track-piece {
      background-color: #ffffff;
    }

    ::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: #666;
      border-radius: 1px;
    }

    ::-webkit-scrollbar-corner {
      background-color: #999;
    }

    ::-webkit-resizer {
      background-color: #666;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 1128px;
      height: 41px;
      position: relative;

      &::after {
        content: '';
        width: 28%;
        height: 20px;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.000437675) -78%, rgba(0, 0, 0, 0) -46%, black 85%);
        position: absolute;
        right: 0;
      }

      li {
        list-style-type: none;
        font-size: 18px;
        line-height: 21px;
        color: #fff;
        width: 200px !important;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }


  .logotype {
    font-size: 24px;
    line-height: 29px;

    a {
      color: #FFFFFF !important;
      display: flex;
      align-items: center;

      &:hover {
        color: #fff;
      }

      img {
        margin-right: 24px;
      }
    }
  }

  .header-right {
    display: flex;

    a {
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      display: flex;
      align-items: center;

      &:hover {
        color: #fff;
      }

      img {
        margin-right: 10px;
      }
    }
  }

  .photo-stock {
    background-color: #000;
    height: 400px;
    padding: 120px 0 90px 0;

    a {
      // font-family: sf;
    }
  }

  #nav {
    padding: 30px;

    a {
      font-weight: bold;
      color: #2c3e50;

      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .header-top {
      .header {
        .logotype {
          p{
            display: none;
          }
        }
        .header-right {
          a {
            p{
              display: none;
            }
          }
        }
      }
    }
    .scrolltop{
      display: none;
    }
    .search-title {
      h1{
        font-size: 36px;
      }
    }
    .search-list {
      ul{
        width: 100%;
      }
    }
    .photography{
      width: 100% !important;
    }
    .photos-column{
      height: 81px;
    }
    .history-requests {
      ul{
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
        li{
          margin-right: 15px;
        }
      }
    }
    .favorite {
      .fav-title {
        h1{
          font-size: 30px;
        }
      }
    }
  }
  @media screen and (min-width: 1500px) {
    .container {
      max-width: 1425px !important;
    }
  }

  @media screen and (min-width:1200px) and (max-width:1600px) {
    .photography-wrapper {
      .photography-inner {
        left: calc(12% - 150px) !important
      }
    }
    .scrolltop{
      position: fixed;
      right: 5% !important;
      bottom: 10% !important;
    }
  }
</style>